.context {
 font-family:Arial, sans-serif;
 text-decoration:none;
 color:#4444ff;
 font-size:small;
}
a:hover div {
 background:#eee;
}


#container
{
width:100%;
margin:0px;
border:1px solid blue;
line-height:100%;

}
#header,#footer
{
padding:5px;
color:blue;
width:100%;
background-color:white;
clear:left;
}
li{display:inline;}
h1.header
{
padding:0;
margin:0;
}

#left
{
float:left;
width:250px;
height:458px;
margin:0;
border-style:solid;
padding:1em;

}

#content
{
margin-left:280px;
border-style:solid;
height:330px;
padding:5em;
width:800px;
}

