
/*CSS DEL EJEMPLO DEL LIBRO*/
/*CSS DEL PROYECTO DE GRADO!!*/
/*It Works for IE, for not showing scroll sidebar*/
html{
  overflow:hidden;
  background-color: black;
}
html,body {
  margin:0;
  padding:0;
  height:100%;
}

#content {
     margin-top: 5px;
     margin-bottom:100px;
     position: relative;
     background-color: #000000;
}

/*MAP*/
#map-wrapper{
  position:relative;
  height:100%;
}
#map-wrapper {
  margin-right: 300px; } /*Si pongo margin-bottom chrome pone el mapa debajo Este es el tamaño donde va a ir el toolbar*/

#map {
  position: absolute;
  top: 0;
  right: 20px;
  left: 10px;
  width: 98%;
  height: 80%;
  border: 1px solid #aaa
}
/*END OF MAP*/

/*TOOLBAR*/
/*
#toolbar-wrapper{
  margin-right:310px;
  position:relative;
}*/
/*Poner position:absolute hace que no se muestre en el toolbar-wrapper*/
/*#toolbar {
  position: absolute;
  position:relative;
  top: 20px;
  left: 60px;
  width: 100%;
  height: 150px;
  padding: 5px;
  background: white;
  border: 1px solid black;
}*/
/*END OF TOOLBAR*/

#bla{
  margin-top: 5px;
  position: relative;
  background-color: #000000;

}

#toolbar-wrapper{
 /* position:relative;*/

}

#toolbar-wrapper{margin-right:300px;}

#toolbar {

 top:0;
 position: relative;
 background: white;
 width: 79.5%;
 right: 20px;
 left: 10px;
 height: 90px;
 border: 1px solid black;

}

#inputBoxes{
  position:absolute;
  width:310px;
  top:0;
  height: 90px;
  right: 10px;
  z-index:1;
}

#sidebar {
     position: absolute;
     top: 30px;
     bottom:10px;
     width: 310px;
     height: 80%;
     overflow: auto;/*THIS IS FOR SCROLL*/
     right:10px;
}

/*
#toolbar h1 {
     margin: 0;
     font: bold 18px Helvetica, sans-serif;
}

#toolbar ul {
     list-style: none;
     padding: 0;
     margin: 0;
}

#toolbar ul li {
     display: inline;
}

#toolbar ul li a {
     padding: 3px 6px;
     color: #444;
     text-decoration: none;
     font-size: 12px;
}

#toolbar ul li a:hover {
     color: #aaa;
     background: #444;
}

#toolbar ul#sidebar-controls {
	position: absolute;
	bottom: 5px;
	right: 5px;
}*/
#sidebar {
  right:0px;
  display:block; /*The element will generate a block box (a line break before and after the element)*/
}
/*
body.sidebar-off #sidebar { display: none; }
body.sidebar-off #map-wrapper { margin-right: 0px; }*/

#footer{
 height:70px;
 bottom:-400px;
 width:100%;
 position:absolute;
 color:white;
 z-index:1;
 clear:both;
 border: 2px solid #C8181A;
 background: #233B6B;

}

#sidebar p {
     margin: 10px;
}

#sidebar ul#sidebar-list li a {
     display: block;
     border: 1px solid #ddd;
     background: #CED1D7;
     margin: 5px;
     padding: 4px;
     font-family:Trebuchet MS, serif;
     font-size:12px;
     text-decoration: none;
     color: #444;
     list-style-type:circle
}

#sidebar ul#sidebar-list li.current a {
     border: 1px solid #444;
     border-left-width: 3px;
     padding-left: 2px;
}

#sidebar ul#sidebar-list li a:hover {
     background: white;
     color: #555;
}

#sidebar ul#sidebar-list li a strong {
     display: block;
}
#sidebar ul#sidebar-list li a span {
     font-style: italic;
     font-size: 7px;
}

#sidebar ul#sidebar-list {
     list-style: none;
     padding: 0;
     margin: 0;
}

/*CSS PARA EL MENU DESPLEGABLE CON CLICK DERECHO*/
.context {
 font-family:Trebuchet MS, serif;
 text-decoration:none;
 color:black;
 background:#E3E3E3;
 padding:3px;
 font-size:13px;
}
a:hover div {
 background:#CED1D7;
}


#title{
 display:inline;
 font-family:Trebuchet MS, serif;
 font-size:10px;
 font-color:white;
 /*margin-left:300px;*/
 margin-right:15px;
}

#inputArea
{
position:absolute;
font-family:Trebuchet MS, serif;
color:#FFFFFF;
padding: 10px;
background-color: #4F5D74;
font-size:14px;
     left: 19px;
     padding: 4px;

}

#inputArea input[type="text"], #inputArea textarea
{
    font-family: Trebuchet MS, serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left:8px;
    margin-right:50px;
    display: inline;
    padding: 4px;
    border: solid 1px #85b1de;
    width: 400px;
}

/*Sirve para alinear los labels y el input text*/
label {
    display: block;
    width: 50px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
}

/*Alinea los botones http://cssbutton.com/forms/*/
.button {
    border: none;
    margin-left:8px;
    padding: 2px 8px;
}

