<!DOCTYPE html>
<html>
  <head>
    <title>Driving Directions</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf8kYYs4fliOKMDi8ESqpDMIPOQFN3ack">
    </script>
  </head>
  <body oncontextmenu="return false;">
    <%= yield %>
  </body>
</html>
