<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>Driving Directions</title>

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAUdGTwlglQe27tBhbUDZYHhSKtJxVOZcQpVpnovDx_m4tvLpjHRTK8reEbThd4GqPyAtU95rX8gGoGg" type="text/javascript"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>

<%=javascript_include_tag 'application','map_graphic_handler'%>
<%=stylesheet_link_tag 'style'%>

<script type="text/javascript">
</script>

</head>

<body>

<script type="text/javascript"></script>

 <%= yield %>

</body>
</html>
